.card {
  border-radius: 8px;
  border: none;
}

.form-control.is-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}

.form-control.is-valid:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: none;
}

.form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-group-text.text-success {
  border-color: #28a745;
  background-color: #f8f9fa;
  color: #28a745;
}

.input-group-text.text-danger {
  border-color: #dc3545;
  background-color: #f8f9fa;
  color: #dc3545;
}

.form-text.text-success {
  color: #28a745 !important;
  margin-top: 0.5rem;
  font-weight: 500;
}

.form-text.text-danger {
  color: #dc3545 !important;
  margin-top: 0.5rem;
  font-weight: 500;
}
