  <div class="row">
    	<div class="col-md-6">
    	    <h2>Projects</h2>
		    <div class="list-group">
				<a class="list-group-item" *ngFor="let project of projects"
				  [class.active]="project === selectedProject"
				  (click)="onSelect(project)">
				  {{project.name}} - {{hero.beschreibung}}
				  <button type="button" class="btn btn-danger"  (click)="delete(project); $event.stopPropagation()">x</button>
				</a>
		    </div>
	    </div>
	   	<div class="col-md-6">
	    <div *ngIf="selectedProject">
  			<h2>
    			{{selectedProject.name}}
  			</h2>
  			<button type="button" class="btn btn-primary">View Details</button>
		</div>
	    </div>
    </div>